<div class="row">
	<div class="twelve mobile-four columns"><h1 class="page_title">Edit List</h1></div>
</div>

<div class="row collapse">
<div class="ten mobile-three columns">
		<%= form_for @list do |form| %>
		<%= form.text_field :name, :autocomplete => :off  %>
</div>
<div class="two mobile-one columns">
<%= form.submit "Update List" , :class => 'button expand postfix' %>
</div>

<% end %>
</div>