<div class="row">
	<div class="twelve mobile-four columns"><h1 class="page_title">My Lists</h1></div>
</div>

<div class="row">
	<% @lists.each do |list| %>
	<div class="ten mobile-three columns">
		<h3><%= link_to list.name, list_path(list) %></h3>
	</div>
	<div class="two mobile-one columns">
		<ul class="inline-list right">
		<li><%= link_to "Edit", edit_list_path(list) %></li>
		<li><%= link_to "X", list_path(list), :method => :delete %></li>
		</ul>
	</div>
<% end %>
</div>
<%= render :partial => 'form' %>
