<div class="row">
	<div class="twelve mobile-four columns centered">
	<h1 class="page_title">About</h1>
	</div>
</div>
<br>
<div class="row">
	<div class="six mobile-four columns centered">
    Toto is a <a class="splash_link" href="http://rubyonrails.org" >Ruby on Rails</a> app created by <a class="splash_link" href="http://twitter.com/filipreese" >@filipreese</a>.
	</div>
</div>
