<h1>about</h1>
<body class="splash">
<p class="splash_text">
    A <a class="splash_link" href="http://rubyonrails.org" >Ruby on Rails</a> app created by <a class="splash_link" href="http://twitter.com/filipreese" >@filipreese</a>. Graphics by <a class="splash_link" href="http://twitter.com/libbacoopa" >@libbacoopa</a>. 
</p>
</body>