<body class="splash">
	<div class="span9" >
			<div class="splash_hero" >
			<%= image_tag ("toto-text.png") %>
			</div>

	<%= link_to "Sign up", new_user_registration_path , 
                               class: "btn btn-large btn-primary" %>
	</div>
</body>
