<body>
	<div class="row">
		<div class="five columns pad30">
			<h2>Meet Toto, a todo lists app that will actually make your life easier</h2>
				<%= link_to "Sign up Free", new_user_registration_path , class: "button large" %>
        </div>
		<div class="seven columns">
			<%= image_tag ("toto_home.png") %>
		</div>
	</div>
</body>
