<body class="splash">
	<div class="span10" >
		<br>
		<br>
		<br>
			<span class="splash_hero" >
			<%= image_tag ("toto-text.png") %>
			</span>

			<div class="span3 offset5"><%= link_to "Sign up for Alpha", new_user_registration_path , 
                               class: "btn btn-large btn_home" %>
            </div>
	</div>
</body>
