<body class="splash">
	<div class="span10" >
			<span class="splash_hero" >
			<%= image_tag ("toto-text.png") %>
			</span>

			<div><%= link_to "Sign up", new_user_registration_path , 
                               class: "btn btn-large btn_home" %>
            </div>
	</div>
</body>
