<% if user_signed_in? %>
	<h1>You're signed in!</h1>
<% else %>

<body class="splash">
	<div class="span9" >
			<div class="splash_hero" >
			<%= image_tag ("toto-text.png") %>
			</div>
	</div>
</body>
<% end %>
